/* Colors */
$orange: #f08900;
$light-gray: #f3f3f4;
$gray: #a1a1a1;

/* Fonts */
$font-color-normal: RGB(0, 0, 0);
$font-color-gray: RGB(0, 0, 0, 0.6);
$font-large: 16px;
$font-medium: 14px;
$font-small: 12px;

/* Borders */
$border-radius: 4px;
