@import "../../common/common-styles.scss";

.calendar-item {
  flex: 1;
  &:hover {
    cursor: pointer;
  }
}

.container {
  height: 170px;
  border-bottom: 1px solid $gray;
}

.header {
  display: flex;
  padding: 20px;
}

.header__title {
  flex: 1;
  align-items: center;
  display: flex;
  font-weight: 600;
  font-size: $font-large;
}

.calendar-row {
  display: flex;
}

.header__icon-today {
  user-select: none;
  &:hover {
    cursor: pointer;
  }
}
