<div class="container">
  <div
    class="day-name"
    [class.day-name--weekend]="weekDayName === 'Sat' || weekDayName === 'Sun'"
  >
    {{ weekDayName }}
  </div>
  <div
    class="day-number"
    [class.today]="dayNumber === todayDayNumber"
    [class.selected]="isSelected"
  >
    {{ dayNumber }}
  </div>
  <div *ngIf="!hasNoTasks; else noHours">{{ hoursWorked }}:00</div>
  <ng-template #noHours>-</ng-template>
  <div
    *ngIf="status"
    id="dot"
    [ngClass]="{
      green: status === 'green',
      red: status === 'red',
      grey: status === 'grey'
    }"
  ></div>
</div>
